<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>upload_profile_image</key>
	<string>swiffservice/customer/uploadProfileImage</string>
	<key>sync_friends</key>
	<string>swiffservice/customer/syncFriends</string>
	<key>save_merchant_outlet</key>
	<string>swiffservice/merchant/saveMerchantOutlet</string>
	<key>update_location</key>
	<string>swiffservice/customer/updateLocation</string>
	<key>register_push</key>
	<string>swiffservice/pushProvider/registerForPush</string>
	<key>register_customer</key>
	<string>swiffservice/customer/registerCustomer</string>
	<key>rootUrl</key>
	<string>http://10.0.0.8:8000/</string>
</dict>
</plist>
